:root{
/* Font Size variables */
--text-small: 0.75rem;
--text-base:1.2rem;
--text-paragraph:1.5rem;
--h5:1.7rem;
--h4:2.3rem;
--h3:3.1rem;
--h2:4.2rem;
--h1:5.6rem;

/* Font- Weights */
--font-weight-normal:400;
--font-weight-bold:700;

/* Line Heights */
--line-height-small:1.2;
--line-height-large:1.5;

/* Letter Spacing */
--Letter-spacing-loose:0;
--Letter-spacing-tighten:-2;

/* Color Variables */
--primary-base:#ff6b6b;
--primary-tint:#f03e3e;
--primary-shade:#c92a2a;

--secondary-base:#51cf66;
--secondary-tint:#b2f2bb;
--secondary-shade: #2b8a3e;

--tertiary-base:#ffd43b;
--tertiary-tint:#ffec99;
--tertiary-shade:#e67700;

--grey-base: #adb5bd;
--grey-tint: #f1f3f5;
--grey-shade:#495057;

--whites: #ffffff;
--blacks:#000000;

}


* , *::before , *::after {
    box-sizing: inherit;
}
html{
    /*Relative size for page 62.5% of 16px coming to 10px*/
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
    
}
/*Typography
Font-sizes
7.5px / 10px / 13px / 17px / 23px / 31px /42px / 56px 

font weights
400 / 700

Line Heights
1.2 / 1.5 

Letter Spacing
0 / -2px

Font Family
Open Sans

----------- COLORS --------
Primary
Base : #ff6b6b (Red 5)
Tint : #c92a2a (Red 9)
Shade : #f03e3e (Red 7)

Secondary
Base: #51cf66 (green 5)
Tint:  #b2f2bb(green 2)
Shade: #2b8a3e (green 9)

Tertiary
Base:#ffd43b (Yellow 4)
Tint:#ffec99 (Yellow 2)
Shade:#e67700 (yellow 9)

Grey
Base: #adb5bd (grey5)
Tint: #f1f3f5 (grey1)
Shade: #495057 (grey 7)
white: #ffffff (white)
Black: #000000 (Black)

*/

/*  My Text sizing for each element */ 
h1,h2,h3{
font-weight: var(--font-weight-bold);
line-height: var(--line-height-small);
letter-spacing: var(--Letter-spacing-tighten);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
}
/* This ensures that media is never larger than its responsive container */
img, picture,video {
    height: auto;
    max-width: 100%;
}

p,a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: var(--line-height-large) ;
    font-weight: var(--font-weight-normal);
    font-size: var(--text-paragraph);
}

h1{
font-size: var(--h1);
}

h2{
    font-size: var(--h2);
    text-align: center;

}
h3{
    font-size: var(--h3);
}

p{
   font-size: var(--text-paragraph); 
}

a{
    text-decoration: none;
    
}
li{
    font-size: var(--text-paragraph);
}

ul{
    list-style: none;
    font-size: var(--text-small);
}
/* Button component Pallet */

.btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--text-paragraph);
    text-decoration: none;
    border-radius: var(--text-small);
    padding: var(--text-small) var(--text-small);
}

.btn-primary:link, .btn-primary:visited{
    color: var(--whites);
    background-color: var(--primary-base);
    
    
}

.btn-primary:hover, .btn-primary:active{
    color:var(--whites);
    background-color:var(--primary-tint);
}

.btn-secondary:link, .btn-secondary:visited{
        color:var(--whites);
        background-color:var(--secondary-base);
}

.btn-secondary:hover, .btn-secondary:active{
    color: var(--whites);
    background-color :var(--secondary-shade);
}

/*Section ID block Styles*/
#Navigation{
background: cyan;
display: flex;

}

#hero-section{
    background: rgb(17, 211, 11);
}

#About-me {
    background: grey;
}

#skills{
    background:yellowgreen;
}

#projects {
    background: burlywood;
}

#Contact{
    background:purple;
}

.main-footer{
   background: cyan;
 
}

/*My Class Section*/
.Dev-picture{
    text-align: center;
}