* , *::before , *::after {
    box-sizing: border-box;
}
html{
    /*Relative size for page 62.5% of 16px coming to 10px*/
    font-size: 62.5%;
    margin: 0;
}
a{
    text-decoration: none;
}
.hero-section{
    background: rgb(17, 211, 11);
}
